        body {
            background-color: #edf7ef; /* Light Green background */
            font-family: 'Segoe UI', sans-serif;
        }

        .form-container {
            background-color: #ffffff; /* White background */
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .heading {
            color: #2d6a4f; /* Dark Green heading */
        }

        .form input,
        .form button, .form select {
            border-radius: 10px;
            border: 1px solid #d1d5db; /* Gray border */
            background-color: #f0f4f7; /* Light Gray input background */
        }

        .form select::placeholder {
            color: #718096; /* Gray placeholder text */
        }
        
        .form input::placeholder {
            color: #718096; /* Gray placeholder text */
        }

        .form button {
            transition: all 0.3s ease;
            background-color: #2d6a4f; /* Dark Green button background */
            border-color: #2d6a4f; /* Dark Green button border */
            color: #ffffff; /* White text */
        }

        .form button:hover {
            background-color: #38a169; /* Darker Green on hover */
            border-color: #38a169; /* Darker Green border on hover */
        }

        .link {
            color: #6b7280; /* Gray sign up link */
        }